{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}

<h1>what is this all about?</h1>
<img src="/static/duckpfp.jpg" width="100px" height="100px"><br><br>
<div>My name is Vassili Prokopenko, and this is my CS50 Final Project. I started the CS50 edX course at the beginning of march 2024, and finished it in june 2024.</div>
<br>
<div>You can read more and look at the details on github: <a href="https://github.com/VassiliProko/InstaColor">InstaColor</a></div>

{% endblock %}